body{
	background-color: #333;
	color: rgb(227, 243, 4);
}

.task{
	border-bottom: 1px dotted #fff;
	padding: 10px;
}

.task3{
	position: relative;
	background-color: rgb(26, 86, 143);
	height: 400px;
}
.task3 span{
	position: absolute;
	top: 50%;
	left: 50%;
}

.task1 {
	margin-bottom: 20px;
}
.name {
}
.write {
}
.read {
}
.show-user {
	box-sizing: border-box;
	margin: 10px 0;
	background-color: #fff;
	height: 20px;
	width: 440px;
	color: #000;
}

.task4 {
	margin: 25px 15px 25px;
	display: flex;
}
.btn1 {
	margin: 5px;
}
.btn2 {
	margin: 5px;
}
.btn3 {
	margin: 5px;
}
.btn4 {
	margin: 5px;
}
.pushed{
	padding-left: 5px;
	margin: 5px;
width: 120px;
height: 20px;
background-color: rgb(133, 118, 118);
}
._push{
	background: #EE82EE;
}

.task5{
	height: 150px;
}
.warp{
	position: absolute;
	display: flex;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #98FB98;
	color: #fff;
	justify-content: center;
	align-items: center;
}

.task7{
	margin: 20px 0;
}

.text{
	height: 20px;
	margin-bottom: 20px;
}