body {
  background: #333;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px;
}

.document {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 300px;
  margin: 0 auto;
  background: rgba(120, 148, 42, 0.5);
  border: 1px solid #78942a;
  border-radius: 20px;
  padding: 20px;
}

.document div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
}

.document__title {
  height: 50px;
  background: rgba(42, 106, 148, 0.5);
  border: 1px solid #2a6a94;
  border-radius: 20px;
  margin-bottom: 20px;
}

.document__body {
  height: 50px;
  background: rgba(118, 42, 148, 0.5);
  border: 1px solid #762a94;
  border-radius: 20px;
  margin-bottom: 20px;
}

.document__footer {
  height: 50px;
  background: rgba(148, 42, 95, 0.5);
  border: 1px solid #942a5f;
  border-radius: 20px;
  margin-bottom: 20px;
}

.document__data {
  height: 50px;
  background: rgba(148, 146, 42, 0.5);
  border: 1px solid #94922a;
  border-radius: 20px;
  margin-bottom: 40px;
}

.document__app {
  background: rgba(42, 148, 116, 0.5);
  border: 1px solid #2a9474;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app__title {
  height: 50px;
  background: rgba(62, 62, 62, 0.5);
  border: 1px solid #3e3e3e;
  border-radius: 20px;
  margin-bottom: 20px;
}

.app__body {
  height: 50px;
  background: rgba(62, 62, 62, 0.5);
  border: 1px solid #3e3e3e;
  border-radius: 20px;
  margin-bottom: 20px;
}

.app__footer {
  height: 50px;
  background: rgba(62, 62, 62, 0.5);
  border: 1px solid #3e3e3e;
  border-radius: 20px;
  margin-bottom: 20px;
}

.app__data {
  height: 50px;
  background: rgba(62, 62, 62, 0.5);
  border: 1px solid #3e3e3e;
  border-radius: 20px;
}
