body {
	background: #333;
	color: white;
	display: flex;
	padding: 50px;
}

.document {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	min-width: 300px;
	margin: 0 auto;
	background: rgba(120, 148, 42, 0.5);
	border: 1px solid rgb(120, 148, 42);
	border-radius: 20px;
	padding: 20px;
	& div {
		box-sizing: border-box;
		padding: 15px;
	}
	&__title {
		height: 50px;
		background: rgba(42, 106, 148, 0.5);
		border: 1px solid rgb(42, 106, 148);
		border-radius: 20px;
		margin-bottom: 20px;
	}

	&__body {
		height: 50px;
		background: rgba(118, 42, 148, 0.5);
		border: 1px solid rgb(118, 42, 148);
		border-radius: 20px;
		margin-bottom: 20px;
	}

	&__footer {
		height: 50px;
		background: rgba(148, 42, 95, 0.5);
		border: 1px solid rgb(148, 42, 95);
		border-radius: 20px;
		margin-bottom: 20px;
	}

	&__data {
		height: 50px;
		background: rgba(148, 146, 42, 0.5);
		border: 1px solid rgb(148, 146, 42);
		border-radius: 20px;
		margin-bottom: 40px;
	}

	&__app {
		background: rgba(42, 148, 116, 0.5);
		border: 1px solid rgb(42, 148, 116);
		border-radius: 20px;
		margin-bottom: 20px;
		padding: 10px;
	}
}
.app {
	display: flex;
	flex-direction: column;

	&__title {
		height: 50px;
		background: rgba(#3e3e3e, 0.5);
		border: 1px solid #3e3e3e;
		border-radius: 20px;
		margin-bottom: 20px;
	}

	&__body {
		height: 50px;
		background: rgba(#3e3e3e, 0.5);
		border: 1px solid #3e3e3e;
		border-radius: 20px;
		margin-bottom: 20px;
	}

	&__footer {
		height: 50px;
		background: rgba(#3e3e3e, 0.5);
		border: 1px solid #3e3e3e;
		border-radius: 20px;
		margin-bottom: 20px;
	}

	&__data {
		height: 50px;
		background: rgba(#3e3e3e, 0.5);
		border: 1px solid #3e3e3e;
		border-radius: 20px;
	}
}
