.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 50px;
}

.part-1 {
  background: #f0f8ff;
}

.stopwatch {
  width: 300px;
  height: 200px;
  background: orange;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid black;
}

.stopwatch__screen {
  width: 250px;
  margin: 20px auto;
  padding: 20px 0;
  font-size: 40px;
  text-align: center;
  background-color: #c0c0c0;
  border: 2px solid black;
  border-radius: 20px;
}

.stopwatch__nav {
  text-align: center;
}

.nav-btn {
  width: 60px;
  height: 40px;
  border-radius: 15px;
  cursor: pointer;
}

.start {
  background: #6b8e23;
}

.stop {
  background: #b22222;
}

.clear {
  background: #808080;
}

._green {
  background: #3cb371;
}

._red {
  background: #ff4500;
}

._grey {
  background: #c0c0c0;
}

.part-2 {
  background: #f5f5dc;
}

.part-3 {
  background: #faebd7;
}

.planet {
  display: none;
  width: 500px;
  height: 500px;
}

.planet img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

._active {
  display: block;
}
