.wrapper {
	display: flex;
	flex-direction: column;
}
.part {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	padding: 50px;
}
.part-1 {
	background: #f0f8ff;
}
.stopwatch {
	width: 300px;
	height: 200px;
	background: orange;
	border-radius: 20px;
	overflow: hidden;
	border: 2px solid black;
	// .stopwatch__screen
	&__screen {
		width: 250px;
		margin: 20px auto;
		padding: 20px 0;
		font-size: 40px;
		text-align: center;
		background-color: #c0c0c0;
		border: 2px solid black;
		border-radius: 20px;
	}
	// .stopwatch__nav
	&__nav {
		text-align: center;
	}
}
// ----------------------------------------
.nav-btn {
	width: 60px;
	height: 40px;
	border-radius: 15px;
	cursor: pointer;
}
.minuts {
}
.seconds {
}
.milisec {
}
// ----------------------------------------
.start {
	background: #6b8e23;
}
.stop {
	background: #b22222;
}
.clear {
	background: #808080;
}
// ----------------------------------------
._green {
	background: #3cb371;
}
._red {
	background: #ff4500;
}
._grey {
	background: #c0c0c0;
}
// ----------------------------------------
.part-2 {
	background: #f5f5dc;
}
.part-3 {
	background: #faebd7;
}
// -------------------------------------------
.planets {
}
.planet {
	display: none;
	width: 500px;
	height: 500px;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
// -------------------------------------------
._active {
	display: block;
}
// -------------------------------------------
