body{
display: flex;
flex-wrap: wrap;
background-color: #000;
color: #FFD700;
}
.card{
	padding: 10px;
	border: 2px solid rgb(151, 9, 233);
	border-radius: 20px;
	width: 200px;
	margin: 20px;

}
.title{
font-size: 24px;
margin-bottom: 10px;
text-align: center;
}

.info{

}
.height{

}
.gender{

}
.height{

}
.skin{

}
.save{
	background: rgb(7, 178, 230);
	border-radius: 5px;
	color: rgb(3, 3, 3);
	cursor: pointer;
}
.saved{
	background: rgb(33, 230, 7);
}