body{
	background: #333;
	/* display: flex; */
}
.user, .new{
	height: 30px;
	border-radius: 5px;
	margin-bottom: 20px;
	margin-left: 50px;
	padding:20px;
}
.user {
	border: 2px solid rgb(29, 235, 10);
	color:rgb(29, 235, 10);
}
.new {
	border: 2px solid rgb(231, 185, 33);
		color:rgb(231, 185, 33);
}

